
body {
    width: 100vw;
    height: 100vh;
    background-color: rgb(255, 255, 255);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
}

header img {
    max-width: 25%;

}

header {

    display: flex;
    align-self: flex-end;
    border-radius: 2px black solid;
}
 
nav {
    padding-top: 25px;
    flex: 1;
}

button {
    background-image: linear-gradient(to right, #b9ad9a 0%, #fff4e2  51%, #d4bdb0  100%);
    text-transform: uppercase;
    height: 40px;
    width: 100px;
    align-self: center;
    margin-right: 30px;
    border-radius: 5px;
    transition: 0.5s;
    background-size: 200% auto;
    color: rgb(0, 0, 0);            
    box-shadow: 0 0 20px #eee;
    cursor: pointer;
}

button:active {
    box-shadow: none;
    transform: translateY(5px);
}

button:hover {
    background-position: right center; /* change the direction of the change here */
    color: rgb(100, 100, 100);
    text-decoration: none;
  }

nav li {
    display: inline;
    justify-content: center;
}

a {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1em;
    justify-content: center;
    padding-top: 30px;
    color: black;
}

#banner {
    background-color: rgb(220, 209, 189);
    max-height: 200px;
    min-height: 100px;

}

h1 {
    font-size: 1em;
    text-align: center;
    padding-top: 30px;
}

h3 {
    font-size: 0.8em;
    text-align: center;
    padding-left: 30px;
    padding-right: 30px;
}

div img {
    max-width: 350px;
    min-width: 50px;
    padding: 15px;
}

.products-available {
    display: flex;
    flex: 50%;
    background-color: rgb(255, 255, 255);
    justify-content: center;
}

#all-products {
    margin: 100px;
    padding: 100px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: #f8f3e7;
}

#art-cards {
    border: 2px solid black;
    padding: 25px;
    border-radius: 25px;
    max-width: 340px;
    max-height: 553px;
    background: rgb(2,0,36);
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.507) 0%, rgba(232,225,213,1) 25%, rgba(255, 255, 255, 0.76) 100%);
}

#art-cards h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
}

footer {
    background-color: #e8e1d5;
    height: 200px;
}

#copy {
    padding-top: 100px;
    text-align: center;
}