body{
    margin: auto;
    background-color: #f8f3e7;    
}

#container{
    margin-left: 550px;

}

/*font style*/
h3{   
        font-size: 30px;
        font-weight: 600;
        background-image: linear-gradient(to left, #ededed, #000000);
        color: transparent;
        background-clip: text;
        -webkit-background-clip: text;
        font-style: oblique;
}

/*input*/
input{
margin: 5px;
display: block;
position: relative;
cursor: text;
font-size: 14px;
line-height: 20px;
padding: 0 16px;
height: 48px;
background-color: #fff;
border: 1px solid #d6d6e7;
border-radius: 3px;
color: rgb(35, 38, 59);
box-shadow: inset 0 1px 4px 0 rgb(119 122 175 / 30%);
overflow: hidden;
transition: all 100ms ease-in-out;
 box-shadow: 0 1px 0 0 rgb(35 38 59 / 5%);
}
#create-product-form{
    color: #7c7979;
    font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; 
    font-style: normal; 
    font-variant: normal;
    font-weight: 700; 
    line-height: 26.4px;
    text-shadow: 1px 1px 1px #000;

}

input:hover{
    background-color: #e5e5e9;
    box-shadow: #6a6969 2px 2px 5px 5px;
}

/*button & link*/
#btn{
    background-color: #000000;
    color: aliceblue;
}

#btn:active{
    background-color: #d6d6e7;
    box-shadow: #ededed 5px 5px 5px;
}

#btn:hover{
    background-color: rgb(122, 113, 102);
    cursor: pointer;
    box-shadow: #ededed 5px 5px 10px 10px;
}

#link{
    color: #7c7979;
    margin: 155px;
}

#link:hover{
    color: rgba(4, 5, 5, 0.468);
}

i{
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 17px;
letter-spacing: 1px;
word-spacing: 8px;
color: #7c7979;
font-weight: 500;
text-decoration: underline double rgb(244, 241, 241);
font-style: italic;
}



                