/* File might not be sent to github if it doesn't contain anything, so I added a comment. */


body{
    background-color: rgb(211, 211, 211);
}

#h1-manage-product{
    padding-top: 20px;
    text-align: center;
}

#manage-products-div{
    width: 98%;
    margin: 20px auto;
}

/* Styling applied to the table required in manage products */
table, tr, th, td{
    border: 2px solid black;
    background-color: rgb(174, 172, 172);

}

th, td{
    padding: 25px;
}

table{
    margin-top: 30px;
    border-collapse: collapse;
}

a{
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.delete-products-links,
.edit-links,
#create-new-link,
#home-link{
    padding: 15px;
    color: white;
    background-color: black;
    border-radius: 5px;
}

#create-new-link{
    position:relative;
}

.delete-products-links{
    margin-left: 2px;
}




/* Styling above applied to the table required in manage products */
